In [10]:
import json
import pandas as pd

In [11]:
# Opening JSON file 
f = open('state_covid_daily.json',)
# returns JSON object as  
# a dictionary 
data = json.load(f)

In [12]:
state_COVID=[]
# Iterating through the json 
# list 
for i in data: 
    #print(i)
    state_COVID.append(i)

In [13]:
# Closing file 
f.close()

In [14]:
state_COVID_df=pd.DataFrame(state_COVID)
new_state_covid=state_COVID_df[["date","State","cases","deaths"]]
new_state_covid.head(5)

         date      State  cases  deaths
0  07/30/2020  Minnesota  53732    1634
1  07/29/2020  Minnesota  52987    1629
2  07/28/2020  Minnesota  52321    1620
3  07/27/2020  Minnesota  51843    1616
4  07/26/2020  Minnesota  51193    1614

In [15]:
new_state_covid['date'] = pd.to_datetime(new_state_covid['date'])

C:\Users\clemi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
new_state_covid

           date      State  cases  deaths
0    2020-07-30  Minnesota  53732    1634
1    2020-07-29  Minnesota  52987    1629
2    2020-07-28  Minnesota  52321    1620
3    2020-07-27  Minnesota  51843    1616
4    2020-07-26  Minnesota  51193    1614
...         ...        ...    ...     ...
8259 2020-01-28   Illinois      1       0
8260 2020-01-27   Illinois      1       0
8261 2020-01-26   Illinois      1       0
8262 2020-01-25   Illinois      1       0
8263 2020-01-24   Illinois      1       0

[8264 rows x 4 columns]

In [17]:
timeseries_json=new_state_covid.to_json(orient='records')
parsed=json.loads(timeseries_json)

In [18]:
with open('timeseries.json', 'w') as f:
    json.dump(parsed, f, indent=4)

In [20]:
from flask_pymongo import PyMongo
from config import mongoURL 

from pymongo import MongoClient
import json
# client = MongoClient('localhost', 27017)
client = MongoClient(mongoURL)

In [21]:
timeseries_db = client['timeseries_db']
collection_timeseries = timeseries_db['timeseries_covid']
# # Inserting state data
with open('timeseries.json') as f:
    timeseries_data = json.load(f)
collection_timeseries.insert_many(timeseries_data)